* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kaushan Script", cursive;
}

html {
  font-size: 62.5%;
}

/* NAV Design */
.left-side {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 10vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo Design */
nav > .logo {
  height: 100%;
  width: 50%;
}

.logo > img {
  height: 42px;
  cursor: pointer;
}

/* Links Design */
.links {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links > a {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #ef7998;
}

.links > a:hover {
  color: #000000;
  transition: 0.6s;
}

/* RIGHT SIDE */
.rightSide {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Phone Design */
.phoneNum {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
}

.phoneNum > img {
  height: 32px;
  cursor: pointer;
}

.phoneNum > p {
  margin-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Shop Cart Design */
.shoppingCart {
  height: 80%;
  width: 45%;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.shoppingCart > img {
  height: 22px;
  margin: 0.5rem;
}

.shoppingCart > p {
  margin: 0 1rem;
  font-size: 1.6rem;
}

/* HERO Design */
.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(249, 228, 148, 0.5),
      rgba(249, 228, 148, 0.5)
    ),
    url(/img/headerBcg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.hero > h1 {
  font-size: 5rem;
  color: #fff;
}

.hero > h1 > span {
  color: #ef7998;
  font-size: 7rem;
}

.hero > a {
  margin: 2rem 0;
  height: 6rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
  border: 3px solid black;
  border-radius: 5px;
}

/* SECOND PAGE */
.secPage {
  height: 90vh;
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* About Text Design */
.aboutUsText {
  height: 80%;
  width: 50%;
  margin: auto;
}

.aboutUsText > h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.aboutUsText > h2 > span {
  color: #ef7998;
  font-size: 5.5rem;
}

.aboutUsText > p {
  font-size: 1.9rem;
  height: 30%;
  width: 60%;
  margin: 2rem 0;
  color: #6c758d;
}

.aboutUsText > a {
  margin: 2rem 0;
  height: 4rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
  border: 1px solid black;
  border-radius: 5px;
}

/* Sweets Image Design */
.imgEffect {
  width: 450px;
  height: 337.5px;
  margin: 4rem 6rem;
  position: relative;
}

.imgEffect > img {
  height: auto;
  max-width: 100%;
}

.imgEffect::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  height: 100%;
  width: 100%;
  outline: 0.9rem solid #f9e494;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}

.imgEffect:hover::before {
  top: 0;
  left: 0px;
}

/* SEARCH INPUT FOOTER */
.ourStore {
  min-height: 304px;
  width: 100%;
  background: #eeeeee;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ourStore > h2 {
  font-size: 4rem;
  margin: 3rem 0;
}
.ourStore > h2 > span {
  font-size: 5.5rem;
  color: #ef7998;
}

.categories {
  height: 5rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.categories > a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #595959;
  border: 1px solid #595959;
  padding: 1rem;
  border-radius: 3px;
  margin: 2rem;
}

.search {
  margin: 2rem 0;
  height: 4rem;
  width: 40%;
  display: flex;
  align-items: center;
  background: #f9e494;
  border-radius: 5px;
}

.search > .icon {
  height: 100%;
  width: 4rem;
  background: #ef7998;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.search > .icon > img {
  height: 22px;
  width: 22px;
}

.search > input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  padding-left: 1.5rem;
  font-family: "Kaushan Script", cursive;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ced4da;
}

.search > input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  border-color: #80bdff;
  background-color: #fff;
}

/* Store Items Design */
.storeItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.storeItems > .item {
  height: 33rem;
  width: 33rem;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.imgContainer {
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.imgContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.imgContainer > img:hover {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}

.itemFooter {
  height: 20%;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  border-radius: 0 0 0.5rem 0.5rem;
}

.itemFooter > p {
  font-size: 2rem;
  margin: 0 2rem;
}
